<div class="container">
  <h1>Welcome to Our Website</h1>
  
  <p>We're glad you're here! Explore our site to discover amazing content and services.</p>
  
  <% if user_signed_in? %>
    <h2>Hello, <%= current_user.name %>!</h2>
    <p>It's great to see you again. Check out our latest updates below:</p>
    <ul>
      <% @latest_updates.each do |update| %>
        <li><%= update.title %> - <%= update.date %></li>
      <% end %>
    </ul>
  <% else %>
    <h2>New Here?</h2>
    <p>Sign up now to access exclusive content and features!</p>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
    <%= link_to "Log In", new_user_session_path, class: "btn btn-secondary" %>
  <% end %>
  
  <div class="featured-content">
    <h3>Featured Content</h3>
    <% @featured_items.each do |item| %>
      <div class="featured-item">
        <h4><%= item.title %></h4>
        <p><%= truncate(item.description, length: 100) %></p>
        <%= link_to "Read More", item_path(item), class: "btn btn-info" %>
      </div>
    <% end %>
  </div>
</div>

