<!DOCTYPE html>
<html lang="en" class="desktop-view not-mobile-device text-size-larger">
<head>
  <meta charset="utf-8">
  <title>Events - Auroville Community</title>
  <meta name="description" content="Find information about upcoming events, workshops, and activities in our community. Whether you are organizing an event or looking for something to participate in, this is the place to share and discover.">
  <meta name="discourse_theme_id" content="24">
  <meta name="discourse_current_homepage" content="latest">
  
  <%# Additional meta tags omitted for brevity %>
  
  <%= csrf_meta_tags %>
  
  <%# Preloaded stylesheets %>
  <%= stylesheet_link_tag "application", media: "all" %>
  
  <%# Preloaded JavaScript files %>
  <%= javascript_include_tag "application", defer: true, nonce: content_security_policy_nonce %>
  
  <%# Favicon and touch icons %>
  <%= favicon_link_tag "favicon.png" %>
  <%= favicon_link_tag "apple-touch-icon.png", rel: "apple-touch-icon" %>
  
  <%# Theme color meta tags %>
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="#ffffff">
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#2e2e2e">
  
  <%# Viewport meta tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes, viewport-fit=cover">
  
  <%# Canonical URL %>
  <link rel="canonical" href="https://aurovillenetwork.org/c/events/13"/>
  
  <%# Open Search description %>
  <link rel="search" type="application/opensearchdescription+xml" href="https://aurovillenetwork.org/opensearch.xml" title="Auroville Community Search">
  
  <%# Preloaded data %>
  <%= javascript_tag nonce: content_security_policy_nonce do %>
    <%= render partial: "layouts/preloaded_data" %>
  <% end %>
</head>

<body class="category-events">
  <%= render partial: "layouts/splash_screen" %>
  
  <%= render partial: "layouts/discourse_assets" %>
  
  <noscript data-path="/c/events/13">
    <%= render partial: "layouts/noscript_header" %>
    
    <div id="main-outlet" class="wrap" role="main">
      <%# Main content for noscript users %>
    </div>
    
    <%= render partial: "layouts/noscript_footer" %>
  </noscript>
  
  <section id='main'></section>
  
  <%# Deferred JavaScript includes %>
  <%= javascript_include_tag "start-discourse", defer: true, nonce: content_security_policy_nonce %>
  <%= javascript_include_tag "browser-update", defer: true, nonce: content_security_policy_nonce %>
  
  <%# Workaround for WebKit bug %>
  <%= javascript_tag nonce: content_security_policy_nonce do %>
    /* Workaround for https://bugs.webkit.org/show_bug.cgi?id=209261 */
  <% end %>
</body>
</html>